/* VARIABLES DECLARATION */
:root{
    --primary-text-color: #fff;
    --secondary-text-color: #707070;
    --primary-hover-text-color: #580084;
    --primary-call-to-action-text-color: #580084;
    --secondary-call-to-action-text-color: #fff;
    --primary-call-to-action-background-color: #fff;
    --secondary-call-to-action-background-color: #580084;
    --primary-site-background-color: #2a0034;
    --secondary-site-background-color: #fff;
}









/* GENERAL STYLES  */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
}
body{
    background: #fff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
}









/* STYLING THE CUSTOM SCROLL BAR  */
::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-track{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    width: 6px;
    border-radius: 5px;
    background-color: #0e0014b4;
}
::-webkit-scrollbar-thumb:hover{
    width: 6px;
    border-radius: 5px;
    background-color: #0e0014;
}









/* THE TOP NAVIGATION BAR  */
.static-top-nav-bar{
    position: fixed;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: 1000;
}
.static-top-nav-bar .logo-container{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.static-top-nav-bar .logo-container img{
    width: 30px;
    height: auto;
}
.static-top-nav-bar .links-container{
     background-color: var(--secondary-site-background-color);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 6px rgb(112, 112, 112);
}
.static-top-nav-bar .links-container a{
    color: var(--secondary-text-color);
    text-decoration: none;
    margin: 0 40px;
}
.static-top-nav-bar .links-container a:hover{
    color: var(--primary-hover-text-color);
}
.static-top-nav-bar .call-to-act-nav-button-container{
    background: var(--secondary-call-to-action-background-color);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all ease-out .4s;
}
.static-top-nav-bar .call-to-act-nav-button-container:hover{
    background: linear-gradient(to right, var(--secondary-call-to-action-background-color),var(--primary-site-background-color));
}
.static-top-nav-bar .call-to-act-nav-button-container a{
    color: var(--secondary-call-to-action-text-color);
}









/* STYLING THE SCOLL INDICATOR  */
.scroll-indication{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(100, 255, 100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    transition: all ease-in 10ms;
}









/* THE MENU BAR STYLES */
.menu-button-holder{
    position: fixed;
    padding: 2px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1.5px solid var(--primary-call-to-action-text-color);
    bottom: 5%;
    right: 10%;
    cursor: pointer;
    transform:scale(.6);
    z-index: 100;
}
.menu-button-holder .menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button-holder .menu-bar .bar{
    width: 30px;
    height: 4px;
    background-color: var(--primary-call-to-action-background-color);
    border: 1px solid var(--primary-call-to-action-text-color);
    display: block;
    border-radius: 5px;
    margin: 2px;

}









/* STYLING THE MENU_DROPDOWN_SECTION  */
.menu-dropdown{
    background-color: var(--secondary-site-background-color);  
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 12%;
    right: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px;
    width: 180px;
    border-radius: 4px;
    border: .4px solid var(--primary-call-to-action-text-color);
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all ease-in-out .4s;
}
.menu-dropdown .menu-drop-down-title{
    font-size: 1em;
    color: var(--primary-hover-text-color);
}
.menu-dropdown .menu-drop-down-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
    margin: 5px auto;
    border-top: 1.5px solid var(--primary-call-to-action-text-color);
}
.menu-dropdown .menu-drop-down-links a{
    margin: 5px;
    display: block;
    width: 100%;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}
.menu-dropdown .menu-drop-down-links a:hover{
    color: var(--primary-hover-text-color);
}
.menu-dropdown .menu-drop-down-close{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1.7px solid var(--primary-call-to-action-text-color);
    color: var(--primary-call-to-action-text-color);
    cursor: pointer;
    transition: all ease-in .2s;
}
.menu-dropdown .menu-drop-down-close:hover{
    color: rgb(255, 61, 61);
    border: 1.7px solid rgb(255, 61, 61);
}









/* THE STYLES FOR LANDING PAGE LOGO CONTAINER */
.intro-scroller{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro-scroller .background-video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.intro-scroller .background-video .background-color{
    z-index: 10;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-site-background-color);
    background: linear-gradient(to top, var(--primary-site-background-color), #2a003462);
    opacity: .9;
}
.intro-scroller .background-video .main-backgroun-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-scroller .logo-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    min-width:50%;
    z-index: 100;
    cursor: pointer;
}
.intro-scroller .logo-holder .logo-image{
    background-color: var(--primary-site-background-color);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.intro-scroller .logo-holder .logo-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-scroller .logo-holder .logo-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.intro-scroller .logo-holder .logo-words .main-text{
    font-size: 2.2em;
    font-weight: bold;
    color: var(--primary-text-color);
}
.intro-scroller .logo-holder .logo-words .explaining-text{
    font-size: .7em;
    font-weight: light;
    color: var(--primary-text-color);
}
.intro-scroller .scroll-indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 100;
}
.intro-scroller .scroll-indicator .word-to-indicate{
    animation-name: fade-in-scroll;
    animation-duration: 1.4s;
    animation-delay: .8s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
}
.intro-scroller .scroll-indicator .word-to-indicate .scroll-indicator-text{
    color: var(--primary-text-color);
    font-weight: 400;
}
.intro-scroller .scroll-indicator .scroll-images{
    margin-top: 20px;
}
.intro-scroller .scroll-indicator .scroll-images .image-mouse{
    animation-name: fade-in-arrow-scroll;
    animation-duration: 1.4s;
    animation-delay: .8s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
}
.intro-scroller .scroll-indicator .scroll-images .image-mouse i{
    color: var(--primary-call-to-action-text-color);
}
.intro-scroller .scroll-indicator .scroll-images .image-down-arrow{
    animation-name: fade-in-arrow-scroll;
    animation-duration: 1.4s;
    animation-delay: .8s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
}
.intro-scroller .scroll-indicator .scroll-images .image-down-arrow i{
    color: var(--primary-call-to-action-text-color);
}
@keyframes fade-in-scroll {
    0%{
        opacity: 0;
        transform: translateY(-45px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-in-arrow-scroll {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(10px);
    }
}









/* STYLING THE HOME PAGE FIRST ONE */
.home-page{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: var(--primary-site-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-page .title-hero{
    width: 60%;
    margin: 30px;
    transform: skewX(90deg);
    transform-origin: bottom;
    transform-style: preserve-3d;
    opacity: 0;
    transition: all ease-in .7s;
}
.home-page .title-hero .the-hero-text-on-home-page{
    font-size: 5em;
    font-weight: 900;
    color: var(--primary-text-color);
}
.home-page .button{
    width: 60%;
    padding: 30px 0;
    transform: translateX(-300px);
    transform-origin: left;
    transform-style: preserve-3d;
    opacity: 0;
    transition: all ease-in .7s; 
}
.home-page .button .button-to-videos-on-home-page{
    width: 80%;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--primary-call-to-action-background-color);
    padding: 10px;
}
.home-page .button .button-to-videos-on-home-page a{
    font-size: 4em;
    font-weight: 800;
    color: var(--primary-call-to-action-text-color);
}
.home-page .button .button-to-videos-on-home-page i{
    cursor: pointer;
    margin-left: 15px;
    font-size: 4em;
    color: var(--primary-call-to-action-text-color);
}









/* STYLIN THE WHY US PAGE  */
.why-us-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-site-background-color);
    position: relative;
}
.why-us-page .title-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 50px;
    margin: 20px;
}
.why-us-page .title-hero .main-title{
    font-size: 4em;
    color: var(--primary-call-to-action-text-color);
    font-weight: 900;
}
.why-us-page .title-hero .sub-title{
    font-size: 2em;
    font-weight: 400;
    color: var(--primary-call-to-action-text-color);
}
.why-us-page .the-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-us-page .the-slider .comments-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: absolute;
    top: 25%;
    left: 0px;
    transition: all ease-in 1s;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper{
    outline: 40px solid var(--primary-site-background-color);
    outline-offset: -45px;
    border-radius: 50px;
    margin: 50px;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: all ease-in-out .3s;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper:hover{
    outline-offset: 0px;
    outline-color: transparent;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    position: absolute;
    background: linear-gradient(to top, white ,transparent);
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out .2s;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper:hover::after{
    opacity: 1;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper .comment{
    position: absolute;
    width: 70%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-text-color);
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    transition: all ease-in-out .3s;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper:hover .comment{
    opacity: .8;
}
.why-us-page .the-slider .comments-wrapper .comment-wrapper .commenter-image{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.why-us-page .the-slider .comment-slider{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.why-us-page .the-slider .comment-slider .slide-to-left, .slide-to-right{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--secondary-call-to-action-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.why-us-page .the-slider .comment-slider .slide-to-left, .slide-to-right i{
    color: var(--primary-text-color);
}









/* BENEFITS PAGE STYLINGS  */
.benefits-page{
    width: 100%;
    height: 300%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--primary-site-background-color);
    position: relative;
}
.benefits-page .benefit{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.benefits-page .benefit .title-hero{
    width: 50%;
}
.benefits-page .benefit .title-hero .benefit-title{
    font-size: 5em;
    font-weight: 900;
    color: var(--primary-text-color);
}
.benefits-page .benefit .title-hero .benefit-title .benefit-title-indication{
    color: rgb(153, 255, 153);
    font-weight: 900;
}
.benefits-page .benefit .video-descrpton{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
}
.benefits-page .benefit .video-descrpton video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.benefits-page .all-list-of-companies{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 10px;
    transform: translateX(-50%);
    height: 40px;
    width: 80%;
    background-color: var(--primary-call-to-action-background-color);
    border-radius: 7px;
    padding: 5px;
    overflow: hidden;
}
.benefits-page .all-list-of-companies .companies-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 10px;
    animation-name: companies-scrolling;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.benefits-page .all-list-of-companies .companies-wrapper .company-in-list{
    width: 30px;
    height: 30px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    background-color: var(--primary-site-background-color);
    border-radius: 3px;
}
.benefits-page .all-list-of-companies .companies-wrapper .company-in-list .company-logo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@keyframes companies-scrolling{
    0%{
        left: -100%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}









/* STYLING THE TRUSTED_US PAGE  */
.trusted-page{
    width: 100%;
    position: relative;
    background-color: var(--secondary-site-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 17% 0;
}
.trusted-page .trusted-title-hero{
    width: 60%;
    margin: 5% auto;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}
.trusted-page .trusted-title-hero span{
    font-size: 5em;
    font-weight: 900;
    color: var(--primary-call-to-action-text-color);
}
.trusted-page .trusted-sticky-container{
    padding: 20px;
    position: sticky;
    top: 150px;
    overflow: hidden;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper{
    display: flex;
    flex-direction: row;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us{
    background-color: var(--primary-site-background-color);
    margin-right: 70px;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3px 30px;
    flex-shrink: 0;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us .image-wrapper{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us .image-wrapper .trusted-us-image-logo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us .trusted-us-comment{
    font-size: .8em;
    color: var(--primary-text-color);
    font-weight: 300;
    text-align: center;
    margin: 5px;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us .company .company-name-wrapper{
    font-size: 1.3em;
    color: var(--primary-text-color);
    font-weight: 400;
}
.trusted-page .trusted-sticky-container .trusted-us-wrapper .trusted-us .company .company-name-wrapper .comapany-name{
    font-weight: 700;
}









/* STYLING THE FOOTER  */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3%;
    width: 100%;
    height: 80%;
    background-color: var(--primary-site-background-color);
    position: relative;
    overflow: hidden;
}
.footer .footer-about-us{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer .footer-about-us .logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer .footer-about-us .logo-container .logo-image{
    background-color: var(--primary-call-to-action-background-color);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .footer-about-us .logo-container .logo-image .footer-logo-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .footer-about-us .logo-container .footer-logo-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.footer .footer-about-us .logo-container .footer-logo-description .footer-logo-description-title{
    font-size: 2.2em;
    font-weight: bold;
    color: var(--primary-text-color);
}
.footer .footer-about-us .logo-container .footer-logo-description .footer-logo-description-words{
    font-size: .7em;
    font-weight: light;
    color: var(--primary-text-color);
}
.footer .footer-about-us .links{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px 20px;
    margin-left: 10px;
    margin-top: 30px;
    border-left: 1.5px solid var(--primary-text-color);
}
.footer .footer-about-us .links a{
    font-size: 1.2em;
    font-weight: 300;
    margin: 5px 0;
    color: var(--primary-text-color);
    text-decoration: none;
}
.footer .footer-about-us .links a:hover{
    color: var(--primary-hover-text-color);
}
.footer .footer-interact-with-us{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.footer .footer-interact-with-us .footer-what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.footer .footer-interact-with-us .footer-what-we-do .what-we-do-title{
    color: var(--primary-text-color);
    font-size: 1em;
    font-weight: 200;
}
.footer .footer-interact-with-us .footer-what-we-do .what-we-do-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1.5px solid var(--primary-text-color);
    margin-top: 10px;
}
.footer .footer-interact-with-us .footer-what-we-do .what-we-do-links a{
    font-weight: 300;
    font-size: .7em;
    color: var(--primary-text-color);
    border: 1.5px solid var(--primary-text-color);
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 150px;
    padding: 5px 0;
    margin-top: 10px;
}
.footer .footer-interact-with-us .footer-what-we-do .what-we-do-links a:hover{
    background-color: var(--primary-text-color);
    color: var(--primary-call-to-action-text-color);
}
.footer .footer-interact-with-us .footer-contact-us{
    margin-left: 40px;
}
.footer .footer-interact-with-us .footer-contact-us form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
}
.footer .footer-interact-with-us .footer-contact-us form input,textarea{
    width: 100%;
    background: none;
    border: 1.5px solid var(--primary-text-color);
    border-radius: 5px;
    color: var(--primary-text-color);
}
.footer .footer-interact-with-us .footer-contact-us form label{
    color: var(--primary-text-color);
    font-size: .9em;
    font-weight: 300;
    margin: 10px 0;
}
.footer .footer-interact-with-us .footer-contact-us form input[type="submit"]{
    width: 40%;
    padding: 6px 10px;
    background: var(--secondary-call-to-action-background-color);
    color: var(--primary-text-color);
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-out .3s;
}
.footer .footer-interact-with-us .footer-contact-us form input[type="submit"]:hover{
    background: linear-gradient(to right, var(--secondary-call-to-action-background-color),var(--primary-site-background-color));
}
.footer .footer-copyright{
    position: absolute;
    width: 60%;
    bottom: 30px;
    left: 50%;
    transform: translateX(-59%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer .footer-copyright .copyright{
    color: var(--primary-text-color);
    font-weight: 200;
}
.footer .footer-copyright .copyright .copyright-company-name{
    color: var(--primary-text-color);
    font-weight: 800;
}
.footer .go-up{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-site-background-color);
    position: absolute;
    bottom: 50px;
    left: 4%;
    border-radius: 50%;
    cursor: pointer;
}
.footer .go-up i{
    color: var(--primary-call-to-action-text-color);
}
